---
import logo from '@/assets/logo.svg';
import logoNoTrees from '@/assets/logo_no_trees.svg';
import { Image } from 'astro:assets';
---

<nav class='w-screen flex flex-row justify-between items-center bg-white border-b-secondary border-5 absolute top-0'>
	<a>
		<Image src={logo} alt='Logo' width={100} height={100} class='hidden lg:block' />
		<Image src={logoNoTrees} alt='Logo' width={100} height={100} class='lg:hidden' />
	</a>
	<div class='flex justify-around py-0.5 px-8'>
		<a class='text-black text-md no-underline p-4'>Dashboard</a>
		<a>User Site</a>
	</div>
</nav>
