---
import type { ImageObject, Property } from '@/lib/__generated__/types';

interface Props {
	gallery: ImageObject[];
	property: Property;
}

const { gallery, property } = Astro.props;
---

<div class='w-[80%] bg-white mb-8 p-4'>
	<div class='flex flex-row justify-around'>
		<div class='flex flex-col items-center pr-4 m-8 mr-0 border-r-0 md:border-3 border-transparent border-b-0 md:border-b-3 border-gradient-primary'>
			<div>
				<h1>{property.propertyName}</h1>
			</div>
			<div class='flex flex-col items-center'>
				<!-- add tooltip "edit propery name and description" -->
				<!--Link wrapped around StyledBtn just style the a tag -->
				<a class='mb-1'>Property info</a>
				<!-- tooltip upload and elete property photos -->
				<a> Photos </a>
				<!-- tooltip edit availability calendar -->
				<a>Calendar</a>
			</div>
		</div>

		<!-- ImgGalContainer -->
		<div>
			<!-- ImageGallery -->
		</div>
	</div>
	<!-- EditPropertyOverlay -->
	<!-- CalendarOverlay -->
</div>
